html, body, div, span, h1, h2, h3, p {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
    
}  



@font-face {  
    font-family: 'Railway', sans-serif;   
    src: url('/fonts/Railway-variable/Raleway-Italic-VariableFont_wght.ttf') format('truetype');  
    src: url('/fonts/Railway-variable/Raleway-VariableFont_wght.ttf') format('truetype'), url('/fonts/Railway-variable/static/Raleway-Light.ttf') format('truetype');
}  

body {  
    background-color: rgb(222, 222, 234);
    font-family: 'Railway', sans-serif; 
    min-width: 800px; 
    box-sizing: content-box;
    
}  

.container {
    background-color: rgb(255, 255, 255);
    height: 3028px;
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.underline {
    text-decoration: underline;
}
