header{
    
    margin: 92px 24px 96px;
    height: 105px;
    width: 1052px;
    display: flex;
    font-size: 18px;
    align-items: center;
    font-weight: lighter ;
    letter-spacing: 0.01em;
}

.menu{
    margin-left: 27px;
    margin-right: 25px;
   
}

.logo{
    box-sizing: content-box;
    height: 100%;
    
}

.adress{
    
    margin-left: auto;
    margin-right: 25px;
}

.cover{
    color: white;
    height: 757px;
    margin-bottom: 179px;
    
    background-image: url(../images/bac-ground-lotus-flower.png );
    
}

.transparancy {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.big-txt{
    color: white;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.btxt1-poz{
    position: absolute;
    top: 165px;
    left: 50px;
    
}

.btxt2-poz{
    position: absolute;
    top: 300px;
    left: 336px;
}

.btxt3-poz{
    position: absolute;
    top: 420px;
    left: 633px;
}

.btxt-extra-ls{
    letter-spacing: 0.6em;
}

.cover-txt{
    position: absolute;
    bottom: 62px;
    left: 78px;
    font-size: 22px;
    word-spacing: 0.8em;
    font-weight: 300;
}

.cover-button{
    position: absolute;
    bottom: 51px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border-color: white;
    border-style: solid;
    width: 256px;
    height: 51px;
    font-weight: medium;
    font-size: 22px;
  
}

.lots{
    
    margin: 0 24px;
    height: 692px;
    width: 1052px;
    margin-bottom: 146px;
    display: flex;
    flex-direction: column;
}

.lots-header{
    height: 74px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-left: 40px;
}

.lots-body{
    display: flex;
}

.transparancy-lots{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
    box-sizing: content-box;
   
}

.card{
    background-color: blue;
    width: 334px;
    height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    
}

.card1{
    margin-right: 25px;
    background-image: url(../images/back-ground-cart1.png);
}

.card2{
    margin-right: 25px;
    background-image: url(../images/back-ground-cart2.jpg);
    background-size: contain;
}

.card3{
    margin-right: 0;
    background-image: url(../images/back-ground-cart3.png);
}

.cardh1{
    display: block;
    color: white;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 51px 40px auto;
    font-weight: 500;
    opacity: 1;
}

.cardp{
    display: block;
    margin: auto 40px 48px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2em;
    opacity: 0.8;
}

.lots-bottom{
    font-size: 20px;
    margin: auto auto 2px 40px;
    text-decoration: underline;
    text-underline-offset: 0.25em;
}

.about{
    
    margin: 0 24px;
    margin-bottom: 180px;
    height: 595px;
    width: 1052px;
    display: flex;
    

}

.about-logo{
    background-image: url(../images/logo-column.png);
    width: 240px;
    height: 240px;
    margin: 35px 0 0 47px;

}

.about-body{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 133px;
    width: 693px;
    height: 449px;
    

}

.about-header{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
}

.about-body1{
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 24px;
    opacity: 0.9;

}

.about-body2{
    font-size: 20px;
    opacity: 0.9;
}

footer{
    
    margin: 0 50px;
    margin-bottom: 88px;
    height: 98px;
    width: 1029px;
    display: flex;
    font-size: 18px;
    font
   
}

.footer-adress{
    display: flex;
    flex-direction: column;
    width: 297px;
    height: 98px;
    
    padding: 15px 30px 0px;

}

.footer-adress-txt1{
    

}

.footer-adress-txt2{

}

.footer-adress-txt3{
      padding: 0 60px 0 0;

}
.footer-menu{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-social{
    display: flex;
    height: 48px;
    width: 240px;
    
    justify-content: space-between;
}

.footer-social-icons{
    width: 48px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    
}

.footer-social-icons-im1{
   
   
}

.footer-social-icons-im1{
    
}
.footer-social-icons-im1{
    
}