header{
    
    margin: 92px 24px 96px;
    height: 105px;
    width: 1052px;
    display: flex;
    font-size: 18px;
    align-items: center;
    font-weight: lighter ;
    letter-spacing: 0.01em;
}

.menu{
    margin-left: 27px;
    margin-right: 25px;
   
}

.logo{
    box-sizing: content-box;
    height: 100%;
    
}

.adress{
    
    margin-left: auto;
    margin-right: 25px;
}

.cover{
    
    height: 757px;
    margin-bottom: 179px;
    opacity: 0.8;
    background-image: url(../images/bac-ground-lotus-flower.png);
    
}

.lots{
    background-color: brown;
    margin: 0 24px;
    height: 692px;
    width: 1052px;
    margin-bottom: 146px;
}

.about{
    background-color: brown;
    margin: 0 24px;
    margin-bottom: 180px;
    height: 595px;
    width: 1052px;

}

footer{
    background-color: brown;
    margin: 0 50px;
    margin-bottom: 88px;
    height: 98px;
    width: 1000px;
   
}
